	@page {
		size: 297mm 420mm;
	}
	body {
		box-sizing: border-box;
		background: white; 
		font-family: 'Titillium Web', sans-serif;
		font-size: 12px;
		color: #58585a;
		width: 297mm; 
		height: 420mm;
	}
	table {
		clear: both;
		width: 100%;
		border: none;
		margin-bottom: 2mm;
		border-spacing: 0;
	}
	img.logo { margin-bottom: 12mm; max-height: 150px; }
	td, th { font-size: 13px; text-align: left; }
	.top td { width: 16.66%; color: #58585a; text-align: center; padding: 8px 15px; }
	.main th { font-weight: normal; text-align: left; color: #58585a; padding: 8px 15px; color: #ffffff; }
	.main td { background: #e7e7e8; color: #58585a; padding: 8px 15px; vertical-align: top; }
	.description th, .description td { text-align: center; }
	td.right { text-align: right !important; }
	#footer { vertical-align: bottom; }
	#product { max-width: 500px; max-height: 500px; }
	
